apiVersion: apps/v1

kind: Deployment

metadata:

  name: myapp
  namespace: jenkins

spec:

  selector:

    matchLabels:

      run: myapp

  replicas: 1

  template:

    metadata:

      labels:

        run: myapp

    spec:

      containers:

      - name: myapp

        image: killivinay69/myapp

        ports:

        - containerPort: 80